@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4052cb;
  --secondary: #304fff;

  --primary-accent: #4052cb;
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
}

html {
  @apply scroll-smooth;
}

html {
  scroll-padding-top: 80px; /* Adjust this value to match your header's height */
}

body {
  padding-top: 80px; /* Adjust this value to match the height of your navbar */
}

body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}